[Desktop Entry]
Name=Word Builder
Name[sv]=Ordbyggaren
Comment=Phonological training app - build words from sounds and letters
Comment[sv]=Fonologisk träning med ljud och bokstäver
Exec=ordbyggaren
Icon=se.danielnylander.ordbyggaren
Terminal=false
Type=Application
Categories=Education;Accessibility;
